.quick-link-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    overflow-x: scroll;
    padding: 5px 8px 20px 8px;
}

.quick-link-card {
    display: flex;
    background-color: #90D26D;
    border-radius: 50px;
    min-width: 350px;
    height: 200px;
}

.quick-link-image {
    border-top-left-radius: 50px; 
    border-bottom-left-radius: 50px;
    object-fit: cover;
    width: 150px;
    height: 200px;
}

.quick-link-info {
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    padding: 4%;
}

.daily-cards-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    padding: 5px 10px 20px 6px;
}

@media (max-width: 900px) {
    .daily-cards-container {
        grid-template-columns: auto;
        gap: 20px;
    }
}

.daily-card {
    display: flex;
    padding: 20px;
    background-color: #D9EDBF;
    min-width: 300px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.daily-card-image {
    height: 250px;
    width: 200px;
    object-fit: cover;
    border-radius: 35px;
}

.daily-card-info {
    padding: 20px;
    line-height: 0.8;
}